{% extends "base_template.html" %}

{% block content %}
<!-- landing begins -->
<div class="container main-content">
    <div class="row">
        <h1 class="display-1 p-0 m-0 text-center">Join the <span class="fw-bold">Community</span></h1>
        <h1 class="h4 text-muted text-center mb-5">Register yourself and be a part of this amazing community.</h1>
        
        <!-- start block from here -->
        
        <div class="mx-auto mt-3" style="max-width:400px;">

            <form method="POST" action="" class="mb-4 p-3 border-purple rounded" novalidate>
                <!-- hidden csrf token -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    
                        {% else %}
                            {{ form.email(class="form-control") }}
                    {% endif %}
                    
                </div>
                
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    
                        {% else %}
                            {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    
                        {% else %}
                            {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.conf_password.label(class="form-label") }}

                    {% if form.conf_password.errors %}
                        {{ form.conf_password(class="form-control is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.conf_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    
                        {% else %}
                            {{ form.conf_password(class="form-control") }}
                    {% endif %}
                </div>
                
                <p class="text-muted text-end mt-n2">
                    Already have an account? <a class="form-link" href="{{url_for('login')}}">Sign in</a>
                </p>

                <div class="text-center">
                    {{ form.submit(class="btn btn-primary btn-lg w-100 px-5 mt-2") }}
                </div>
            </form>

        </div>
    </div>
</div>
<!-- landing ends -->
{% endblock %}
